body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
  width                  : 100%;
  text-align             : center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title {
  text-align   : center;
  overflow     : hidden;
  text-overflow: ellipsis;
  font-size    : 34px;
  font-weight  : 900;
  margin       : 1em 0 1.2em 0;
}

.masked {
  width           : 100%;
  background      : #eee;
  color           : #222;
  padding         : 0.6em;
  text-align      : center;
  animation       : fadeIn 400ms;
  font-size       : 26px;
  font-weight     : bold;
  /* border-radius: 1.1em; */
}

.label {
  background   : #eee;
  color        : #222;
  text-align   : center;
  animation    : fadeIn 400ms;
  font-size    : 16px;
  font-weight  : 500;
  border-radius: 1.1em;
  padding      : 0.5em 1em;
  margin       : 0 1em;
}

.div-wrapper {
  margin: 0 0 2em 0;
}

.app-bar {}

input {
  height         : 2.8em;
  width          : 25vw;
  background     : rgba(255, 80, 80, 0.3);
  font-size      : inherit;
  text-align     : center;
  justify-content: center;
  outline        : 0px solid #eee;
  box-shadow     : 0 0 5px #eee;
  transition     : box-shadow 500ms ease-in-out;
  border         : 1px solid #ccc;
  border-radius  : 1.1em;
  box-sizing     : border-box;
  margin         : 1em;
}

input:hover {
  box-shadow: 0 0 15px #fff;
}

input::placeholder {
  color: #fff;
}

button {
  height       : 3em;
  width        : 12vw;
  margin       : 1em;
  border-radius: 1.1em;
  background   : rgba(255, 80, 80, 0.8);
  color        : #eee;
  cursor       : pointer;
  border       : none;
  outline      : none;
  font-size    : 1em;
  transition   : all 300ms ease;
}

button:disabled {
  margin    : 0;
  background: rgba(255, 80, 80, 1);
  transform : scale(0.85);
}

button:hover {
  transform: scale(1.05);
}

.clear-button {
  position: fixed;
  bottom  : 2%;
  z-index : 1;
}

.game-play-wrapper {
  margin     : 1em 3em 1em 0;
  width: 100%;
}

.timer-wrapper {
  float: left;
  /* align-items: center; */
  justify-content: center;
  /* align-content: center; */
  margin     : 0 0 0 2em;
}

.card,
.card-open {
  /* height: 14em; */
  width        : 25vw;
  background   : #fff;
  border-radius: 0.5em;
  margin       : 10% auto;
  color        : #444;
  cursor       : pointer;
  box-shadow   : 0 0 0.25em #999;
  transition   : all 750ms;
  animation    : popup 700ms;
}

.card-wrapper {
  position       : absolute;
  height         : inherit;
  width          : inherit;
  align-items    : center;
  justify-content: center;
  padding        : 2em;
}