body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title {
  width: 100%;
  text-align: center;
  margin: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 30px;
  font-weight: 900;
  margin: 1em 0 1em 0;
}

.lable {
  background: #eee;
  width: 100%;
  text-align: center;
  font-size: 26px;
  animation: fadeIn 400ms;
  margin: 1em;
  padding: 0.3em;
  font-weight: bold;
  color: #222;
}

input {
  margin: 1em;
  /* display: inline-block; */
  height: 2.8em;
  width: 25vw;
  background: transparent;
  margin: 0 1em 1em 0;
  border: none;
  background: rgba(255, 80, 80, 0.3);
  font-size: inherit;
  text-align: center;
  justify-content: center;
  outline: 0px solid #eee;
  box-shadow: 0 0 5px #eee;
  border-radius: 5em;
  transition: box-shadow 500ms ease-in-out;
  border: 1px solid #ccc;
  border-radius: 1.1em;
  box-sizing: border-box;
}

input:hover {
  box-shadow: 0 0 15px #fff;
}

input::placeholder {
  color: #fff;
}

button {
  height: 3em;
  width: 12vw;
  margin: 0 1em 0 1em;
  border-radius: 1.1em;
  background: rgba(255, 80, 80, 0.8);
  color: #eee;
  font-size: 1.5em;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 1em;
  transition: all 300ms ease;
}

button:disabled {
  margin: 0;
  background: rgba(255, 80, 80, 1);
  transform: scale(0.85);
}

button:hover {
  margin: 0 1em 0 1em;
  transform: scale(1.05);
}

.clear-button {
  position: fixed;
  bottom: 2%;
  z-index: 1;
}
